**Index**
+ [x] version 0 : basic
+ [x] version 1 : Query text
+ [x] version 2 : Load Query text

In [1]:
import cx_Oracle as oci
import pandas as pd

In [2]:
##########
#1.Acquisition.txt
####

# query 열기
query = "C:/Users/MAEIL/Desktop/셀렉스몰/18. query(AARRR)/AARRR_query_v2/monthly/1.Acquisition_v2.3.txt"

# DB접속 : 접속정보 읽기
con_text = open("C:/Users/MAEIL/conn_SELEX.txt", 'r', encoding='utf8')
con_text = con_text.read()

# DB 접속 : 실제 접속
conn = oci.connect(con_text[1:], encoding='UTF-8', nencoding='UTF-8')

f = open(query, 'r')
line = f.read()
f.close()

## query 실행( SQL문 실행 메모리 영역에서 진행)
cursor = conn.cursor()
cursor.execute(line)
df1 = cursor.fetchall()[1:]

df1 = pd.DataFrame(df1, columns = ['MONTH', 'App install', 'App install : paid'])
df1 = df1.set_index('MONTH').T.fillna(0)

In [3]:
df1

MONTH               2021-01  2021-02  2021-03  2021-04
App install             818    16864     1089       90
App install : paid      355    11842      724       42

In [4]:
##########
# 2.Activation
####

# query 열기
query = "C:/Users/MAEIL/Desktop/셀렉스몰/18. query(AARRR)/AARRR_query_v2/monthly/2.Activation_v2.3.txt"

# DB접속 : 접속정보 읽기
con_text = open("C:/Users/MAEIL/conn_SELEX.txt", 'r', encoding='utf8')
con_text = con_text.read()

# DB 접속 : 실제 접속
conn = oci.connect(con_text[1:], encoding='UTF-8', nencoding='UTF-8')

f = open(query, 'r')
line = f.read()
f.close()

## query 실행( SQL문 실행 메모리 영역에서 진행)
cursor = conn.cursor()
cursor.execute(line)
df2 = cursor.fetchall()[1:]
# df1 = pd.DataFrame(df1)
df2 = pd.DataFrame(df2, columns = ['MONTH', '신규가입', '신규가입-첫구매완료', '신규가입-신규대비(%)', '누적-회원수','누적-구매',
                                   '수신동의', '수신동의-SMS동의', '수신동의-PUSH동의', '수신동의-EMIL동의'])
df2 = df2.set_index('MONTH').T.fillna(0)

In [5]:
df2

MONTH            2021-01      2021-02      2021-03     2021-04
신규가입            874.0000   18883.0000    1740.0000    155.0000
신규가입-첫구매완료       73.0000   11589.0000    1143.0000     37.0000
신규가입-신규대비(%)      0.0835       0.6137       0.6569      0.2387
누적-회원수          879.0000   19762.0000   21502.0000  21657.0000
누적-구매         19943.0000  235714.0000  125634.0000   4514.0000
수신동의            481.0000    9436.0000   10244.0000  10321.0000
수신동의-SMS동의      469.0000    9329.0000   10172.0000  10243.0000
수신동의-PUSH동의     288.0000    4677.0000    5136.0000   5177.0000
수신동의-EMIL동의     446.0000    8813.0000    9491.0000   9553.0000

In [6]:
##########
# 3.Retention-Daily
####

# query 열기
query = "C:/Users/MAEIL/Desktop/셀렉스몰/18. query(AARRR)/AARRR_query_v2/monthly/3.Retention-Daily_v2.3.txt"

# DB접속 : 접속정보 읽기
con_text = open("C:/Users/MAEIL/conn_SELEX.txt", 'r', encoding='utf8')
con_text = con_text.read()

# DB 접속 : 실제 접속
conn = oci.connect(con_text[1:], encoding='UTF-8', nencoding='UTF-8')

f = open(query, 'r')
line = f.read()
f.close()

## query 실행( SQL문 실행 메모리 영역에서 진행)
cursor = conn.cursor()
cursor.execute(line)
df3 = cursor.fetchall()[1:]
df3 = pd.DataFrame(df3, columns = ['MONTH', ('Daily PU', ''), ('Daily PU', 'NPU'),  ('Daily PU', 'RPU'),  ('Daily PU', '비회원'), 
                                   'Daily 결제건수(Total)', 'Daily 결제건수(NPU)', 'Daily 결제건수(RPU)',
                                   'Daily PU_쿠폰사용(Total)', 'Daily PU_쿠폰사용(NPU)', 'Daily PU_쿠폰사용(RPU)',
                                   'Daily 결제건수_쿠폰사용(Total)', 'Daily 결제건수_쿠폰사용(NPU)', 'Daily 결제건수_쿠폰사용(RPU)'])
df3_1 = df3.set_index('MONTH').T.fillna(0)

In [8]:
##########
# 3.Retention-Daily
####

# query 열기
query = "C:/Users/MAEIL/Desktop/셀렉스몰/18. query(AARRR)/AARRR_query_v2/monthly/3.Retention-Monthly_v2.3.txt"

# DB접속 : 접속정보 읽기
con_text = open("C:/Users/MAEIL/conn_SELEX.txt", 'r', encoding='utf8')
con_text = con_text.read()

# DB 접속 : 실제 접속
conn = oci.connect(con_text[1:], encoding='UTF-8', nencoding='UTF-8')

f = open(query, 'r')
line = f.read()
f.close()

## query 실행( SQL문 실행 메모리 영역에서 진행)
cursor = conn.cursor()
cursor.execute(line)
df3 = cursor.fetchall()[1:]
df3 = pd.DataFrame(df3, columns = ['MONTH', ('Monthly PU', ''), ('Monthly PU', 'NPU'),  ('Monthly PU', 'RPU'),  ('Monthly PU', '비회원'), 
                                   'Monthly 결제건수(Total)', 'Monthly 결제건수(NPU)', 'Monthly 결제건수(RPU)',
                                   'Monthly PU_쿠폰사용(Total)', 'Monthly PU_쿠폰사용(NPU)', 'Monthly PU_쿠폰사용(RPU)',
                                   'Monthly 결제건수_쿠폰사용(Total)', 'Monthly 결제건수_쿠폰사용(NPU)', 'Monthly 결제건수_쿠폰사용(RPU)'])
df3_2 = df3.set_index('MONTH').T.fillna(0)

In [9]:
##########
# 4.Retention-Freq
####

# query 열기
query = "C:/Users/MAEIL/Desktop/셀렉스몰/18. query(AARRR)/AARRR_query_v2/monthly/3.Retention-Freq_v2.3.txt"

# DB접속 : 접속정보 읽기
con_text = open("C:/Users/MAEIL/conn_SELEX.txt", 'r', encoding='utf8')
con_text = con_text.read()

# DB 접속 : 실제 접속
conn = oci.connect(con_text[1:], encoding='UTF-8', nencoding='UTF-8')

f = open(query, 'r')
line = f.read()
f.close()

## query 실행( SQL문 실행 메모리 영역에서 진행)
cursor = conn.cursor()
cursor.execute(line)
df3 = cursor.fetchall()[1:]
# df4 = pd.DataFrame(df4)
df3 = pd.DataFrame(df3, columns = ['MONTH', '구매빈도(합계)', '구매빈도(신규)', '구매빈도(유보)', '구매빈도(시도)', '구매빈도(정착)',
                                   '구매빈도(이탈)', '구매빈도(휴면)'])
df3_3 = df3.set_index('MONTH').T.fillna(0)

In [10]:
##########
# 3.Retention-Freq
####

# query 열기
query = "C:/Users/MAEIL/Desktop/셀렉스몰/18. query(AARRR)/AARRR_query_v2/monthly/3.Retention-timediff_v2.3.txt"

# DB접속 : 접속정보 읽기
con_text = open("C:/Users/MAEIL/conn_SELEX.txt", 'r', encoding='utf8')
con_text = con_text.read()

# DB 접속 : 실제 접속
conn = oci.connect(con_text[1:], encoding='UTF-8', nencoding='UTF-8')

f = open(query, 'r')
line = f.read()
f.close()

## query 실행( SQL문 실행 메모리 영역에서 진행)
cursor = conn.cursor()
cursor.execute(line)
df3 = cursor.fetchall()[1:]
# df3 = pd.DataFrame(df3)
df3 = pd.DataFrame(df3, columns = ['MONTH', '구매빈도v3(누계)', '구매빈도v3(월별)'])
df3_4 = df3.set_index('MONTH').T.fillna(0)

In [11]:
df3 = pd.concat([df3_1, df3_2, df3_3, df3_4])

In [12]:
df3

MONTH                     2021-01   2021-02   2021-03   2021-04
(Daily PU, )                17.20    594.00     95.40     48.00
(Daily PU, NPU)             13.40    548.00     53.50     28.50
(Daily PU, RPU)              4.70     51.60     42.80     19.00
(Daily PU, 비회원)              1.00      1.00      1.10      1.00
Daily 결제건수(Total)           18.90    603.60     98.20     48.50
Daily 결제건수(NPU)             13.40    548.00     53.50     28.50
Daily 결제건수(RPU)              5.50     55.60     44.70     20.00
Daily PU_쿠폰사용(Total)         4.20     32.10     37.30     14.50
Daily PU_쿠폰사용(NPU)           1.40      4.30      8.20      9.00
Daily PU_쿠폰사용(RPU)           3.40     28.00     29.20     10.00
Daily 결제건수_쿠폰사용(Total)       4.20     32.20     38.00     15.00
Daily 결제건수_쿠폰사용(NPU)         4.10     31.50     31.10     12.00
Daily 결제건수_쿠폰사용(RPU)         0.10      0.70      6.90      3.00
(Monthly PU, )             388.00  15521.00   2588.00     93.00
(Monthly PU, NPU)          388.00  15345.00   1660.00     57.00
(Monthly PU, RPU)           95.00   1239.00   1132.00     38.00
(Monthly PU, 비회원)            1.00      6.00     11.00      1.00
Monthly 결제건수(Total)        548.00  16901.00   3044.00     97.00
Monthly 결제건수(NPU)          389.00  15345.00   1660.00     57.00
Monthly 결제건수(RPU)          159.00   1556.00   1384.00     40.00
Monthly PU_쿠폰사용(Total)      70.00    889.00   1074.00     29.00
Monthly PU_쿠폰사용(NPU)        13.00    115.00    254.00      9.00
Monthly PU_쿠폰사용(RPU)        58.00    777.00    841.00     20.00
Monthly 결제건수_쿠폰사용(Total)    71.00    901.00   1178.00     30.00
Monthly 결제건수_쿠폰사용(NPU)      13.00    115.00    254.00      9.00
Monthly 결제건수_쿠폰사용(RPU)      58.00    786.00    924.00     21.00
구매빈도(합계)                     0.00      0.00  16281.00  16374.00
구매빈도(신규)                     0.00      0.00   1284.00   1339.00
구매빈도(유보)                   143.00  12925.00  13071.00  13071.00
구매빈도(시도)                    29.00    834.00   1875.00   1912.00
구매빈도(정착)                     0.00      6.00     51.00     52.00
구매빈도(이탈)                     0.00      0.00      0.00      0.00
구매빈도(휴면)                     0.00      0.00      0.00      0.00
구매빈도v3(누계)                   9.07     11.57     26.52     22.95
구매빈도v3(월별)                   9.32     13.45     32.49     30.79

In [20]:
##########
# 4.Revenue-GMV
####

# query 열기
query = "C:/Users/MAEIL/Desktop/셀렉스몰/18. query(AARRR)/AARRR_query_v2/monthly/4.Revenue-GMV_v2.3.txt"

# DB접속 : 접속정보 읽기
con_text = open("C:/Users/MAEIL/conn_SELEX.txt", 'r', encoding='utf8')
con_text = con_text.read()

# DB 접속 : 실제 접속
conn = oci.connect(con_text[1:], encoding='UTF-8', nencoding='UTF-8')

f = open(query, 'r')
line = f.read()
f.close()

## query 실행( SQL문 실행 메모리 영역에서 진행)
cursor = conn.cursor()
cursor.execute(line)
df4 = cursor.fetchall()[1:]
# df4 = pd.DataFrame(df4)
df4 = pd.DataFrame(df4, columns = ['MONTH', '주문_Total(A+B+C)'  , '주문_Total_NPU',       '주문_Total_RPU',
                                            '결제금액_Total(A)'  , '결제금액_Total_NPU',   '결제금액_Total_RPU', 
                                            '제품할인_Total(B)'  , '제품할인_Total_NPU',   '제품할인_Total_RPU', 
                                            '포인트사용_Total(C)', '포인트사용_Total_NPU', '포인트사용_Total_RPU', 
                                            '포인트적립_Total'   , '포인트적립_Total_NPU', '포인트적립_Total_RPU' ])
df4_1 = df4.set_index('MONTH').T.fillna(0)

In [25]:
##########
# 4.Revenue-기여효과
####

# query 열기
query = "C:/Users/MAEIL/Desktop/셀렉스몰/18. query(AARRR)/AARRR_query_v2/monthly/4.Revenue-GMV_기여효과_v2.3.txt"

# DB접속 : 접속정보 읽기
con_text = open("C:/Users/MAEIL/conn_SELEX.txt", 'r', encoding='utf8')
con_text = con_text.read()

# DB 접속 : 실제 접속
conn = oci.connect(con_text[1:], encoding='UTF-8', nencoding='UTF-8')

f = open(query, 'r')
line = f.read()
f.close()

## query 실행( SQL문 실행 메모리 영역에서 진행)
cursor = conn.cursor()
cursor.execute(line)
df4 = cursor.fetchall()[1:]
# df4 = pd.DataFrame(df4)
df4 = pd.DataFrame(df4, columns = ['MONTH', 'GMV_ALL',      'GMV_쿠폰',      'GMV_포인트',      'GMV_쿠N포',
                                            '결제건수_ALL', '결제건수_쿠폰', '결제건수_포인트', '결제건수_쿠N포'
                                  ])
df4_2 = df4.set_index('MONTH').T.fillna(0)

In [26]:
##########
# 4.Revenue-MC
####

# query 열기
query = "C:/Users/MAEIL/Desktop/셀렉스몰/18. query(AARRR)/AARRR_query_v2/monthly/4.Revenue-MC_v2.3.txt"

# DB접속 : 접속정보 읽기
con_text = open("C:/Users/MAEIL/conn_SELEX.txt", 'r', encoding='utf8')
con_text = con_text.read()

# DB 접속 : 실제 접속
conn = oci.connect(con_text[1:], encoding='UTF-8', nencoding='UTF-8')

f = open(query, 'r')
line = f.read()
f.close()

## query 실행( SQL문 실행 메모리 영역에서 진행)
cursor = conn.cursor()
cursor.execute(line)
df4 = cursor.fetchall()[1:]
# df4 = pd.DataFrame(df4)
df4 = pd.DataFrame(df4, columns = ['MONTH', 'Cost(Total)'  , 'Cost(ratio)'])
df4_3 = df4.set_index('MONTH').T.fillna(0)

In [27]:
df4 = pd.concat([df4_1, df4_2, df4_3])

In [28]:
df4

                    2021-01       2021-02      2021-03    2021-04
주문_Total(A+B+C)  41703.0000  1.261251e+06  249637.0000  7513.0000
주문_Total_NPU     27624.0000  1.131957e+06  130944.0000  4699.0000
주문_Total_RPU     14079.0000  1.292940e+05  118693.0000  2814.0000
결제금액_Total(A)    19943.0000  2.357140e+05  125634.0000  4514.0000
결제금액_Total_NPU   12318.0000  1.953380e+05   68225.0000  2869.0000
결제금액_Total_RPU    7625.0000  4.037600e+04   57409.0000  1645.0000
제품할인_Total(B)     4764.0000  2.151980e+05   14121.0000   336.0000
제품할인_Total_NPU    4161.0000  2.004990e+05    8535.0000   256.0000
제품할인_Total_RPU     603.0000  1.469900e+04    5586.0000    80.0000
포인트사용_Total(C)   16996.0000  8.103390e+05  109882.0000  2663.0000
포인트사용_Total_NPU  11145.0000  7.361200e+05   54185.0000  1574.0000
포인트사용_Total_RPU   5851.0000  7.421900e+04   55697.0000  1089.0000
포인트적립_Total        509.0000  9.215000e+03    2970.0000   102.0000
포인트적립_Total_NPU    333.0000  8.002000e+03    1565.0000    64.0000
포인트적립_Total_RPU    176.0000  1.213000e+03    1405.0000    38.0000
GMV_ALL                 NaN  1.261251e+06  249637.0000  7513.0000
GMV_쿠폰                  NaN  6.778800e+04  106040.0000  2811.0000
GMV_포인트                 NaN  1.178939e+06  181949.0000  5291.0000
GMV_쿠N포                 NaN  5.797700e+04   77386.0000  2040.0000
결제건수_ALL                NaN  1.690100e+04    3044.0000    97.0000
결제건수_쿠폰                 NaN  9.010000e+02    1178.0000    30.0000
결제건수_포인트                NaN  1.609600e+04    2327.0000    70.0000
결제건수_쿠N포                NaN  8.000000e+02     904.0000    20.0000
Cost(Total)       5314.0000  2.206930e+05   21943.0000   542.0000
Cost(ratio)          0.2114  4.841000e-01       0.1542     0.1113

In [29]:
##########
# 5.Referral
####

# query 열기
query = "C:/Users/MAEIL/Desktop/셀렉스몰/18. query(AARRR)/AARRR_query_v2/monthly/5.Referral_v2.3.txt"

# DB접속 : 접속정보 읽기
con_text = open("C:/Users/MAEIL/conn_SELEX.txt", 'r', encoding='utf8')
con_text = con_text.read()

# DB 접속 : 실제 접속
conn = oci.connect(con_text[1:], encoding='UTF-8', nencoding='UTF-8')

f = open(query, 'r')
line = f.read()
f.close()

## query 실행( SQL문 실행 메모리 영역에서 진행)
cursor = conn.cursor()
cursor.execute(line)
df5 = cursor.fetchall()[1:]
# df5 = pd.DataFrame(df5)
df5 = pd.DataFrame(df5, columns = ['MONTH', '추천인_유입수', '추천자_발생수', '추천자_GMV', '추천자_평균매출','리뷰수', '제품평점'])
df5 = df5.set_index('MONTH').T.fillna(0)

In [30]:
df5

MONTH     2021-01     2021-02  2021-03  2021-04
추천인_유입수      8.00     4571.00     0.00     0.00
추천자_발생수     11.00    17014.00     0.00     0.00
추천자_GMV      0.00  1072423.00     0.00     0.00
추천자_평균매출     0.00       63.03     0.00     0.00
리뷰수        149.00     3389.00  1228.00   109.00
제품평점         4.99        4.97     4.96     4.95